datacards_*/
rootFile_*/
temp/
dmapelli.cc
dvalsecc.cc
*.pyc
izoi.cc
settings.json
*.out
log*
*.log
*.txt
*.err
*.sub
condor*.sh
script_preparation.sh
script_preparation_hadd.sh
*.html
datacards/Postfit_*/
PostFitPlots/DavidePostfit/
datacards/*_combined.py
*_combined.py